.description {
    overflow-y:scroll;
    animation: fadeIn 0.5s ease-in-out;
}
    
.description-blocks {
    margin-right: 20px;
}
  
.description-block {
    margin-bottom: 20px;
}
  
.description-block-title {
    margin-bottom: 5px;
    line-height: 30px;
    font-size: 28px;
    color: var(--secondary-color);
}