.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor__menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
}

.editor__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

