.navbar{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    display: flex;
}
  
.navbar__ul {
    height: 276px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
  
.navbar__li {
    list-style-type: none;
    cursor: pointer;
}