@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Tektur&display=swap');
@import url(variables.css);
@import url(table.css);
@import url(navbar.css);
@import url(description.css);
@import url(typography.css);
@import url(discoverButton.css);
@import url(settings.css);
@import url(toggle.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
}

.hidden {
  display: none;
}

.search-menu {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  width: 250px;
}

.search-menu input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  background: #222;
  color: white;
}

.search-menu ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  max-height: 150px;
  overflow-y: auto;
}

.search-menu li {
  padding: 5px;
  cursor: pointer;
  background: #333;
  color: white;
}

.search-menu li:hover {
  background: #555;
}


.hidden {
  display: none !important;
}
  


.wrapper {
  background-image: url("/static/img/interface/wrapperbackground.png");
  background-size: cover;
  background-position: center;

  width: 600px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 320px;
  transform: translate(-50%, -50%);
  padding: 53px 25px 53px 40px;

  display: flex;
  color: var(--primary-color);
  overflow: hidden;
}

