@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Tektur&display=swap');
@import url(variables.css);
@import url(table.css);
@import url(navbar.css);
@import url(description.css);
@import url(typography.css);
@import url(explore-button.css);
@import url(settings.css);
@import url(toggle.css);
@import url(search.css);
@import url(animations.css);
@import url(scrollbar.css);
@import url(editor.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  color: var(--primary-color);
  background-color: #000;
  overflow: hidden;
}

.wrapper {
  background-image: url("/static/img/interface/wrapperbackground.png");
  background-size: cover;
  background-position: center;

  width: 600px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  padding: 53px 25px 53px 40px;

  display: flex;
  color: var(--primary-color);
}

.hidden {
  display: none;
}

.view_2d {
  display: none;
}