h1 {
    font-family: "Tektur", serif;
    font-size: 96px;
    font-weight: 400;
    text-align: center;
}

h5 {
    font-family: "Tektur", serif;
    font-weight: 400;
    font-size: 36px;
}

p {
    font-family: "Play", serif;
    font-weight: 400;
    font-size: 20px;
}