h1 {
    font-family: var(--font-family-secondary);
    font-size: 92px;
    font-weight: var(--font-weight-primary);
    text-align: center;
}

h5, .editor__label {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-primary);
    font-size: 28px;
}

p, button {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-primary);
    font-size: 20px;
}

.arabic-right {
    text-align: right;
}

.arabic-table td {
    text-align: right;
}